<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark justify-content-around">
  <div class="container-fluid justify-content-star ">
      <a class="navbar-brand" href="#carouselExampleCaptions" target="-blank">
          <img src="assets/Imagenes/lg.png" alt="Logo de la Pagina"  width="40%" height="55"
              class="d-inline-block align-text-center">
          <i id="cal" class="fas fa-calculator p-2 "></i>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a id="in" class="nav-link active" aria-current="page" href="#carouselExampleCaptions"><i
                          class="fas fa-angle-up p-1"></i>Inicio</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#sec2"><i class="far fa-images p-1"></i>Galeria</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#sec3"><i class="fas fa-brain p-1"></i>Calculadora</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#sec1"><i class="fas fa-tty p-1"></i>Contacto</a>
              </li>
          </ul>
      </div>
  </div>
</nav>

