<div class="fond " >
    <h6 class="text-light fs-4 position-absolute top-50 start-0 translate-middle-y"> © 2021 Aguero Matias </h6>
    <div class=" justify-content-center" style="display: flex;">
        <div class="item justify-content-around"   >
            <a id="num1"  href="tel:2644996528"><i
                class="fas fa-phone-square-alt p-1"></i>Telefono</a>
            <a id="num2" 
            href="https://wa.me/5492644996528/?text=Me%20interesa%20la%20pagina%20que%20hiciste"
            target="-blank"><i class="fab fa-whatsapp p-1"></i>WhatsApp</a>
            <a id="num3" href="https://www.instagram.com/maty_aguero1/?hl=es"
                        target="-blank"><i class="fab fa-instagram p-1"></i>Instagram
            </a>
        </div>
    <img id="fl" class=" position-absolute top-50 end-0 translate-middle-y"
        src="https://s3-us-west-2.amazonaws.com/folcademy.web/_img/folcademy-01.png" alt="folcademy">