.fond{
    height:50px;
    line-height:50px;
    background:rgb(63, 66, 61);
    color:white;
    text-align:center;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;}

    .item{
        width: 50%;
        height: 100%;
    }

    a{
        padding-left: 15px;
    }

    #fl{
        height: 100%;
    }

    #num1 {color: white;}  #num2 {color: white;}  #num3 {color: white;}
    #num1:hover{color: #d650e2;} #num2:hover{color: #00bb2d;}  #num3:hover{color: #3f729b;}