.error-message{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    height: calc(100vh - 100px);
    width: 100%;
}

h1{
    margin:0;
}

.error-message_container{
    text-align: center;
    color: rgb(65, 55, 55);
}

.error-message_container    h1{
        font-size: 60px;
}

.error-message_container p{
        font-size: 18px;
}

.animated{
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes bounce{
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

.bounce {
 animation-name: bounce;   
}
    